.main__spinner {
   width: 4rem;
   height: 4rem;
   border: 0.5rem solid var(--gray-30);
   border-left-color: var(--white-100);
   border-radius: 50%;
   animation: spinner 1s linear infinite;
}

@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}
