.hero__container {
   // padding-block: 8.5rem;

   .hero__portfolio_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .hero__portfolio_card {
         // background-color: aquamarine;
         flex: 1 1 10rem;
         margin: 0.5rem;
         height: auto;
      }
   }
}
